Django>=3.2,<3.3
python-decouple 
Pillow
djangorestframework

#third party modules
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
drf-yasg[validation]

#deployment modules

#email third party modules
django-mail-templated

#refactoring and tests
black
flake8